%div#header
  %h1 sinatra-collectd

%div#nav
  %div#hosts
    %h2 Hosts
    - @hosts.each do |host|
      %li
        %a{:href => "/#{host}"}= host
  
  - if host = params[:host]
    %div#stats
      %h2 Profiles
      %li
        %a{:href => "/#{host}/cpu+load"} CPU + load
      %li
        %a{:href => "/#{host}/memory"} Memory
      %li 
        %a{:href => "/#{host}/disk+usage"} Disk usage
      %li 
        %a{:href => "/#{host}/processes"} Processes


- if @profile && @profile.graphs
  - @profile.graphs.each do |graph|
    - plugin, plugin_instance =  graph.split('/')
    - graph_id = "graph#{graph.gsub(/[^\w+]/, '_')}"
    %div{:id => graph_id}
      %div.labels
      %div.holder
      :javascript
        window.addEvent('domready', function() {
          new collectdSingleGraph('#{graph_id}', {
            plugin: '#{plugin}', 
            plugin_instance: '#{plugin_instance}', 
            colours: #{@colours}});
        });
  
- else
  %div
    Nothing to display!
  
