%div#nav
  %div#hosts.nav
    %h2 Hosts
    %ul
      - @hosts.each do |host|
        %li
          %a{:href => "/#{host}"}= host
  
  - if host = params[:host]
    %div#profiles.nav
      %h2 Profiles

      %ul
        - @profiles.each do |profile|
          %li
            %a{:href => "/#{host}/#{profile.splatpart}"}= profile.name

%div#graphs
  - if @profile && @profile.plugins
    - @profile.plugins.each do |graph|
      - plugin, plugin_instance =  graph.split('/')
      - graph_id = "graph#{graph.gsub(/[^\w+]/, '_')}"
      %div.graph
        %div{:id => graph_id}
        :javascript
          window.addEvent('domready', function() {
            var graph = new visageGraph('#{graph_id}', '#{params[:host]}', '#{plugin}', {
              width: 900,
              height: 220,
              gridWidth: 800,
              gridHeight: 200,
              shade: #{Visage::Config.shade || false},
              pluginInstance: '#{plugin_instance || ''}',
              name: '#{plugin} on #{host}'
            });
          });
  
  - else
    %div#nothing
      Sorry, nothing to display!
  
