%div#header
  %h1 Visage

%div#nav
  %div#hosts
    %h2 Hosts
    - @hosts.each do |host|
      %li
        %a{:href => "/#{host}"}= host
  
  - if host = params[:host]
    %div#stats
      %h2 Profiles
      %li
        %a{:href => "/#{host}/cpu+load"} CPU + load
      %li
        %a{:href => "/#{host}/memory"} Memory
      %li 
        %a{:href => "/#{host}/disk+usage"} Disk usage
      %li 
        %a{:href => "/#{host}/processes"} Processes


- if @profile && @profile.graphs
  - @profile.graphs.each do |graph|
    - plugin, plugin_instance =  graph.split('/')
    - graph_id = "graph#{graph.gsub(/[^\w+]/, '_')}"
    %div{:id => graph_id}
      %h3= plugin
      %div.labels.container
      %div.holder
      - if plugin_instance
        :javascript
          window.addEvent('domready', function() {
            var graph = new collectdSingleGraph('#{graph_id}', '#{params[:host]}', '#{plugin}', {
              width: 900,
              height: 220,
              gridWidth: 800,
              gridHeight: 200,
              plugin_instance: '#{plugin_instance}',
              colours: #{@colours}
            });
          });
      - else
        :javascript
          window.addEvent('domready', function() {
            var graph = new collectdMultiGraph('#{graph_id}', '#{params[:host]}', '#{plugin}', {
              width: 900,
              height: 220,
              gridWidth: 800,
              gridHeight: 200,
              colours: #{@colours}
            });
          });
  
- else
  %div#nothing
    Sorry, nothing to display!
  
