- profile_name = @profile.options[:profile_name]
- page_title(profile_name)
- require_js "builder-autocomplete"

%a{:href=>"#edit", :id => "edit"} edit profile
%div#chart-builder-slider
  = haml :builder_form

:javascript
  window.addEvent('domready', function() {
    var builder = new ChartBuilder('chart-builder', {
      hosts:   ['#{@profile.options[:hosts].join("','")   }'],
      metrics: ['#{@profile.options[:metrics].join("','") }']
    });

    $('chart-builder-slider').fade('hide').setStyle('height', '0');

    $('edit').addEvent('click', function(e) {
      e.stop();
      $('chart-builder-slider').setStyle('height', 'auto').fade('in');
      e.target.destroy();
    });
  });

%div#profile
  %h2#name= profile_name
  %div#graphs
    - @profile.graphs.each do |graph|
      - id       = URI.escape(graph.id)
      - host     = URI.escape(graph.host)
      - plugin   = URI.escape(graph.plugin)
      - instance = URI.escape(graph.instances.join(','))
      %div{:id => id, :class => 'graph'}
        %img{:src => link_to("/images/loader.gif")}
        :javascript
          window.addEvent('domready', function() {
            var graph = new visageGraph('#{id}', '#{host}', '#{plugin}', {
              pluginInstance: '#{instance}',
              start:          '#{@start}',
              finish:         '#{@finish}',
              live:           #{@live},
              #{ "baseurl: '" + ENV['BASE_URL'].gsub(/^\//, '') if ENV['BASE_URL'] }
            });
          });
    - if @profile.graphs.size == 0
      %div.graph
        %h4.error Oops! Looks like there aren't any graphs matching the specified patterns.
        %p These are the patterns:
        %pre
          :preserve
            Host:    #{@profile.options[:hosts]}
            Metrics: #{@profile.options[:metrics]}

  %div#bottom_nav
    %a{:href => link_to("/profiles")} &larr; Back to profiles



