- profile_name = @profile.options[:profile_name]
- page_title(profile_name)

%div#profile
  %h2#profile_name= profile_name
  - @profile.graphs.each do |graph|
    %div{:id => graph.id, :class => 'graph'}
      %img{:src => link_to("/images/loader.gif")}
      :javascript
        window.addEvent('domready', function() {
          var graph = new visageGraph('#{graph.id}', '#{graph.host}', '#{graph.plugin}', {
            pluginInstance: '#{graph.instances.join(',')}',
            //name:           '#{graph.plugin} on #{graph.host}',
            start:          '#{@start}',
            finish:         '#{@finish}',
            #{ "baseurl: '" + ENV['BASE_URL'].gsub(/^\//, '') if ENV['BASE_URL'] }
          });
        });
  - if @profile.graphs.size == 0
    %div.graph
      %h4.error Oops! Looks like there aren't any graphs matching the specified patterns.
      %p These are the patterns:
      %pre
        :preserve
          Host:    #{@profile.options[:hosts]}
          Metrics: #{@profile.options[:metrics]}

  %div#bottom_nav
    %a{:href => link_to("/profiles")} &larr; Back to profiles



