- profile_name = @profile.options[:profile_name]
- page_title(profile_name)

%a{:href=>"#edit", :id => "edit"} edit profile
%div#chart-builder-slider
  = haml :builder
:javascript
  window.addEvent('domready', function() {
    new ChartBuilder('chart-builder', {
      hosts:   ['#{@profile.options[:hosts].join("','")   }'],
      metrics: ['#{@profile.options[:metrics].join("','") }']
    });

    var chartBuilderSlider = new Fx.Slide('chart-builder', {
      wrapper:     'chart-builder-slider',
      resetHeight: true
    });
    chartBuilderSlider.hide()

    $('edit').addEvent('click', function(e) {
      e.stop();
      chartBuilderSlider.toggle();
    });
  });

%div#profile
  %h2#profile_name= profile_name
  %div#graphs
    - @profile.graphs.each do |graph|
      - id       = URI.escape(graph.id)
      - host     = URI.escape(graph.host)
      - plugin   = URI.escape(graph.plugin)
      - instance = URI.escape(graph.instances.join(','))
      %div{:id => id, :class => 'graph'}
        %img{:src => link_to("/images/loader.gif")}
        :javascript
          window.addEvent('domready', function() {
            var graph = new visageGraph('#{id}', '#{host}', '#{plugin}', {
              pluginInstance: '#{instance}',
              start:          '#{@start}',
              finish:         '#{@finish}',
              live:           #{@live},
              #{ "baseurl: '" + ENV['BASE_URL'].gsub(/^\//, '') if ENV['BASE_URL'] }
            });
          });
    - if @profile.graphs.size == 0
      %div.graph
        %h4.error Oops! Looks like there aren't any graphs matching the specified patterns.
        %p These are the patterns:
        %pre
          :preserve
            Host:    #{@profile.options[:hosts]}
            Metrics: #{@profile.options[:metrics]}

  %div#bottom_nav
    %a{:href => link_to("/profiles")} &larr; Back to profiles



